asgiref==3.6.0
boto3==1.26.33
botocore==1.29.33
Django==4.1.4
django-cors-headers==3.13.0
django-storages==1.13.1
djangorestframework==3.14.0
gunicorn==20.1.0
jmespath==1.0.1
Pillow==9.3.0
psycopg2==2.9.5
python-dateutil==2.8.2
pytz==2022.7
s3transfer==0.6.0
six==1.16.0
sqlparse==0.4.3
tzdata==2022.7
urllib3==1.26.13
whitenoise==6.2.0
